*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

body{
    background-image: linear-gradient(120deg,rgb(241, 241, 111),rgb(248, 193, 91));
    color : white;
    min-height: 100vh;
}

header{
    font-size : 55px;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 10px;
    font-size: 25px;
    border: none;
    background: white; 
}

form input{
    width: 420px;
}

form button{
    color: black;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
  background: black;
  color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
   min-width: 450px;
   list-style: none;
}

.todo{
    margin-top: 10px;
    background: white;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease; 
}

.todo li{
    flex: 1;
}

.trash-btn, .check-btn{
    background-color:  black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.fa-trash, .fa-check{
    pointer-events: none;
}
.check-btn{
    background: rgb(73, 200, 73);
}

.trash-btn{
    background: rgb(247, 41, 41);
}
.todo-item{
    padding: 0rem 0.7rem;
}

.checked{
  text-decoration: line-through;
  opacity: 0.5;
}

.falling{
   transform: translateY(7rem) rotateZ(25deg); 
   opacity: 0;
}